@model EM_ConProjects.Models.ProjectsViewModel

@{
    ViewBag.Title = "Create";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <br />
    
    <div class="row">

        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <center><h1 class="box-title">PROJECT DOCUMENT PREVIEW</h1></center>
                </div><!-- /.box-header -->

                <div class="box-body no-padding">

                    <div class="box" id="leaderBox" hidden="hidden">
                        <div class="box-header with-border">
                            <center><h3 class="box-title">PROJECT LEADER</h3></center>
                </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-responsive">
                        <thead>
                            <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Project Leader</th>
                                        <th>Project Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                        <td id="LeadNum"></td>
                                        <td id="projLead"></td>
                                        <td id="projStat"></td>
                            </tr>
                        </tbody>
                    </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <div class="box" id="locations">
                        <div class="box-header with-border">
                            <center><h3 class="box-title">LOCALITIES</h3></center>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-responsive">
                        <thead>
                            <tr>
                                        <th style="width: 10px">#</th>
                                        <th><center><b>Town Name</b></center></th>
                                        <th><center><b>Remove</b></center></th>
                            </tr>
                        </thead>
                                <tbody id="listOfLocations"></tbody>
                    </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <div class="box" id="contractors">
                        <div class="box-header with-border">
                            <center><h3 class="box-title">CONTRACTORS</h3></center>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-responsive">
                        <thead>
                            <tr>
                                        <th style="width: 10px">#</th>
                                <td>
                                    <center><b>Company Name</b></center>
                                </td>
                                <td>
                                    <center><b>Contact Name</b></center>
                                </td>
                                <td>
                                    <center><b>Contact Surname</b></center>
                                </td>
                                <td>
                                    <center><b>Contact Phone</b></center>
                                </td>
                            </tr>
                        </thead>
                                <tbody id="listofcontractors"></tbody>
                    </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <div class="box" id="actions">
                        <div class="box-header with-border">
                            <center><h3 class="box-title">ACTIONS</h3></center>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-responsive">
                        <thead>
                            <tr>
                                        <th style="width: 10px">#</th>
                                <td>
                                    <center><b>Description</b></center>
                                </td>
                                <td>
                                    <center><b>Status</b></center>
                                </td>
                            </tr>
                        </thead>
                                <tbody id="listOfActions"></tbody>
                    </table>
                </div>
                        <!-- /.box-body -->
            </div>
                    <!-- /.box -->
                </div><!-- /.box-body -->
        </div>
        </div>

        <div class="col-md-6" id="projDet">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center><h1> 1/4 Project Details</h1></center>
                </div>
                <div class="panel-body">
                    @*<div class="form-horizontal">*@
                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">Project Name</h5>
                        @*@Html.LabelFor(model => model.thisProject.ProjectName, new { @class = "control-label col-md-3" })*@
                        <div class="col-md-9">
                            <input class="form-control" id="projName" />
                            @*@Html.TextBoxFor(model => model.thisProject.ProjectName, new { @class = "form-control", id = "projName" })
                            @Html.ValidationMessageFor(model => model.thisProject.ProjectName)*@
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">Status</h5>
                        @*@Html.LabelFor(m => m.thisProject.ProjectStatus, new { @class = "col-md-3 control-label" })*@
                        <div class="col-md-9">
                            @*@Html.DropDownListFor(n => n.thisProject.ProjectStatus, new SelectList(ViewBag.Stats, "Value", "Text"), "Please select a Status", new { @class = "form-control", id = "projStatus" })*@
                            <select class="form-control" id="projStatus">
                                <option value="">Please select a Status</option>
                                <option value="Complete">Complete</option>
                                <option value="Invoice">Invoice</option>
                                <option value="Close">Close</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">Start Date</h5>
                        @*@Html.LabelFor(m => m.thisProject.StartDate, new { @class = "col-md-3 control-label" })*@
                        <div class="col-md-9">
                            <input class="form-control datepicker" id="startdate" />
                            @*@Html.TextBoxFor(model => model.thisProject.StartDate, new { @class = "form-control datepicker", id = "startdate" })*@
                         </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">End Date</h5>
                        @*@Html.LabelFor(m => m.thisProject.EndDate, new { @class = "col-md-3 control-label" })*@
                        <div class="col-md-9">
                            <input class="form-control datepicker" id="enddate" />
                            @*@Html.TextBoxFor(model => model.thisProject.EndDate, new { @class = "form-control datepicker", id = "enddate" })*@
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">Site Visits</h5>
                        @*@Html.LabelFor(model => model.thisProject.SiteVisits, new { @class = "control-label col-md-3" })*@
                        <div class="col-md-9">
                            <input class="form-control" id="visits" />
                            @*@Html.TextBoxFor(model => model.thisProject.SiteVisits, new { @class = "form-control", id="visits" })*@
                            @*@Html.ValidationMessageFor(model => model.thisProject.SiteVisits)*@
                        </div>
                    </div>
                    &nbsp;

                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">Leader</h5>
                        @*@Html.LabelFor(model => model.thisProject.ProjectLeader, new { @class = "control-label col-md-3" })*@
                        <div class="col-md-9">
                            <input class="form-control" id="projLeader" />
                            @*@Html.TextBoxFor(model => model.thisProject.ProjectLeader, new { @class = "form-control", id = "projLeader" })*@
                            @*@Html.ValidationMessageFor(model => model.thisProject.ProjectLeader)*@
                        </div>
                    </div>
                    &nbsp;
                    <div class="row">
                        <button class="btn btn-primary col-md-8 col-md-offset-2" onclick="loadLoc()" id="projBtnNext" type="button"> NEXT </button> 
                    </div>                    
                                    
                    @*</div>*@
                </div>
            </div>
        </div>

        <div class="col-md-6" hidden="hidden" id="loc">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center><h1> 2/4 Localities</h1></center>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <h5 class="col-md-3">Locality Name</h5>
                        @*@Html.LabelFor(model => model.projectLocs[0].LocalityName, new { @class = "control-label col-md-3" })*@
                        <div class="col-md-9">
                            <input class="form-control" id="locName"/>
                            @*@Html.TextBoxFor(model => model.projectLocs[0].LocalityName, new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(model => model.projectLocs[0].LocalityName)*@
                        </div>
                    </div>

                    <div id="addLocation">

                    </div>

                    &nbsp;

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary col-md-8 col-md-offset-2" onclick="resetLoc()" id="locBtnBack" type="button"> BACK </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary col-md-8 col-md-offset-2" onclick="addBox()" id="addBtn1" type="button"> ADD </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary col-md-8 col-md-offset-2" onclick="loadCont()" id="locBtnNext" type="button"> NEXT </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" hidden="hidden" id="cont">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center><h1> 3/4 Contractors</h1></center>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <h5 class="col-md-3">Company Name</h5>
                        @*@Html.LabelFor(model => model.projectsConts[0].CompanyName, "Company Name", new { @class = "control-label col-md-4" })*@
                        <div class="col-md-9">
                            <input class="form-control" id="compName" />
                            @*@Html.TextBoxFor(model => model.projectsConts[0].CompanyName, new { @class = "form-control", id = "code" })*@
                            @*@Html.ValidationMessageFor(model => model.projectsConts[0].CompanyName)*@
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">Name</h5>
                        @*@Html.LabelFor(model => model.projectsConts[0].ContractorName, "Contact Name", new { @class = "control-label col-md-4" })*@
                        <div class="col-md-9">
                            <input class="form-control" id="contName" />
                            @*@Html.TextBoxFor(model => model.projectsConts[0].ContractorName, new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(model => model.projectsConts[0].ContractorName)*@
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">Surname</h5>
                        @*@Html.LabelFor(model => model.projectsConts[0].ContractorSurname, "Contact Surname", new { @class = "control-label col-md-4" })*@
                        <div class="col-md-9">
                            <input class="form-control" id="contSurn" />
                            @*@Html.TextBoxFor(model => model.projectsConts[0].ContractorSurname, new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(model => model.projectsConts[0].ContractorSurname)*@
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">Tel.</h5>
                        @*@Html.LabelFor(model => model.projectsConts[0].ContractorTel, "Contact Tel.", new { @class = "control-label col-md-4" })*@
                        <div class="col-md-9">
                            <input class="form-control" id="contTel" />
                            @*@Html.TextBoxFor(model => model.projectsConts[0].ContractorTel, new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(model => model.projectsConts[0].ContractorTel)*@
                        </div>
                    </div>
                    
                    &nbsp;
                    <div id="contractor">

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary col-md-8 col-md-offset-2" onclick="resetCont()" id="contBtnBack" type="button"> BACK </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary col-md-8 col-md-offset-2" onclick="addCon()" id="addBtn2" type="button"> ADD </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary col-md-8 col-md-offset-2" onclick="loadAct()" id="contBtnNext" type="button"> NEXT </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" hidden="hidden" id="act">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center><h1> 4/4 Actions</h1></center>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <h5 class="col-md-3">Action Name</h5>
                        @*@Html.LabelFor(model => model.projectActions[0].ActionDesc, "Action Name", new { @class = "control-label col-md-4" })*@
                        <div class="col-md-7">
                            <input class="form-control" id="actName" />
                            @*@Html.TextBoxFor(model => model.projectActions[0].ActionDesc, new { @class = "form-control", id = "code"})*@
                            @*@Html.ValidationMessageFor(model => model.projectActions[0].ActionDesc)*@
                        </div>
                    </div>
                    <br />
                    &nbsp;
                    <div class="form-group">
                        <h5 class="col-md-3">Action Status</h5>
                        @*@Html.LabelFor(model => model.projectActions[0].Status, "Action Status", new { @class = "control-label col-md-4" })*@
                        <div class="col-md-7">
                            <input class="form-control" id="actStatus" />
                            @*@Html.TextBoxFor(model => model.projectActions[0].Status, new {@class = "form-control"})*@
                            @*@Html.ValidationMessageFor(model => model.projectActions[0].Status)*@
                        </div>
                    </div>
                    <br />
                    &nbsp;

                    <div id="addAction">

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary col-md-8 col-md-offset-2" onclick="resetAct()" id="actBtnBack" type="button"> BACK </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary col-md-8 col-md-offset-2" onclick="addAction()" id="addBtn3" type="button"> ADD </button>
                        </div>
                        <div class="col-md-4">
                            @*<button class="btn btn-success col-md-8 col-md-offset-2" id="actBtnSave"> SAVE </button>*@
                            <input class="btn btn-success col-md-8 col-md-offset-2" id="actBtnSave" type="submit" value="SAVE"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hiddenModel" hidden="hidden">
            @*@Html.TextBoxFor(m => m.thisProject.ProjectLeader, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.thisProject.ProjectName, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.thisProject.ProjectStatus, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.thisProject.SiteVisits, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.thisProject.ActualVisits, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.thisProject.StartDate, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.thisProject.EndDate, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.projectLocs[0].LocalityName, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.projectsConts[0].CompanyName, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.projectsConts[0].ContractorName, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.projectsConts[0].ContractorSurname, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.projectsConts[0].ContractorTel, new { @class = "form-control" })*@
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script src="@Url.Content("/Scripts/Custom/CreateProject.js")"></script>

}
