@model EM_ConProjects.Models.DataModel.Projects

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Projects</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Project_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectCode)
                @Html.ValidationMessageFor(model => model.ProjectCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName)
                @Html.ValidationMessageFor(model => model.ProjectName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectStatus)
                @Html.ValidationMessageFor(model => model.ProjectStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectLeader, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectLeader)
                @Html.ValidationMessageFor(model => model.ProjectLeader)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
