@model IEnumerable<EM_ConProjects.Models.DataModel.Projects>

@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectLeader)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Project_Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Project_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Project_Id })
                </td>
            </tr>
        }

        </table>
*@
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Projects list</h3>
                <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Project code</th>
                        <th>Project name</th>
                        <th>Project start date</th>
                        <th>Project end date</th>
                        <th>Project leader</th>
                        <th>Project status</th>
                    </tr>
@foreach (var item in Model) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ProjectCode)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
                        <td>@Html.ValueFor(modelItem => item.StartDate, "{0:dd/MM/yyyy}")</td>
                        <td>@Html.ValueFor(modelItem => item.EndDate, "{0:dd/MM/yyyy}")</td>
                       <td> @Html.DisplayFor(modelItem => item.ProjectLeader)</td>
                        <td><span class="label label-success">@Html.DisplayFor(modelItem => item.ProjectStatus)</span></td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Project_Id }, new { @class="btn btn-flat btn-warning"})
                            @Html.ActionLink("Details", "Details", new { id = item.Project_Id }, new {@class="btn btn-flat btn-info"})
                            @Html.ActionLink("Delete", "Delete", new { id = item.Project_Id }, new { @class="btn btn-flat btn-danger"})
                        </td>
                    </tr>
}
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>