<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/Content/bootstrap-datepicker.css">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link rel="stylesheet" href="/Content/bootstrap-datepicker.css">
    
    <link href="@Url.Content("~/Scripts/graphs/jquery-jvectormap-1.2.2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/admin-lte/css/AdminLTE.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/admin-lte/css/skins/_all-skins.min.css")" rel="stylesheet" type="text/css" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 middle-color" style="padding-right:0px; padding-left:0px;">

            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Projects")</li>
                        <li>@Html.ActionLink("View Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Register New Project", "Create", "Projects")</li>
                        <li>@Html.ActionLink("View Portfolio", "User", "Portfolio")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

            <div class="container body-content middle-color">
                @RenderBody()

                <hr />
                <footer>
                    <center><p>&copy; @DateTime.Now.Year - Designed and Developed by <b>Myrmidon Technology Solutions</b></p></center>
                </footer>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
            
        </div>
    </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        })
    </script>
</body>
</html>
